# Ignoruj środowiska wirtualne
venv/
*/venv/
**/venv/
env/
ENV/

# Ignoruj cache Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoruj pliki edytora
.vscode/
.idea/

# Ignoruj bazy sqlite
*.sqlite3
*.db
db.sqlite3

# Ignoruj migracje (opcjonalnie)
*/migrations/* 
!*__init__.py

# Ignoruj pliki systemowe Windows
Thumbs.db
desktop.ini

staticfiles/
media/

# Logs
*.log

# SECRETS / ENV FILES
.env
.env.*

# SYSTEM
Thumbs.db
desktop.ini
.DS_Store