<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja Strona{% endblock %}</title>
</head>
<body>
<header>
    <h1>Witaj na mojej stronie!</h1>

    <nav>
        {% if user.is_authenticated %}
            Profil |
            <a href="{% url 'logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj</a> |
            <a href="{% url 'register' %}">Zarejestruj</a>
        {% endif %}
    </nav>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<main>
    {% block content %}{% endblock %}
</main>

<footer>
<p>&copy; 2025 - Kurs Django</p>
</footer>

</body>
</html>